.main-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.outer-div{
    display:block;
    margin-left: 50px;
    border-left: solid black 2px;
}

.download-resume{
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
   font-family: "sans-serif";
   text-align: center;
}